<div [@routerTransition]>
  <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
  <div>
    <div class="row mb-5">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Airm chair.JPG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">SOFA ĐƠN</h5>
            <a [routerLink]="['/detail', 1]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Two seater sofa.JPG">
          <div class="card-body">
            <h5 class="card-title">SOFA ĐÔI</h5>
            <a [routerLink]="['/detail', 9]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Three seater sofa.JPG">
          <div class="card-body">
            <h5 class="card-title">SOFA BĂNG BA</h5>
            <a [routerLink]="['/detail', 8]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Corner sofa.JPG">
          <div class="card-body">
            <h5 class="card-title">SOFA GÓC</h5>
            <a [routerLink]="['/detail', 3]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Footstool.JPG">
          <div class="card-body">
            <h5 class="card-title">GHẾ ĐÔN</h5>
            <a [routerLink]="['/detail', 4]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>

      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Sofa bed.JPG">
          <div class="card-body">
            <h5 class="card-title">Sofa Bed</h5>
            <a [routerLink]="['/detail', 6]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Arc sofa.JPG">
          <div class="card-body">
            <h5 class="card-title">SOFA VÒNG CUNG</h5>
            <a [routerLink]="['/detail', 2]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row mb-5">
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Recliner.JPG">
          <div class="card-body">
            <h5 class="card-title">GHẾ THƯ GIẢN ĐƠN</h5>
            <a [routerLink]="['/detail', 5]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Two seater recliner.JPG">
          <div class="card-body">
            <h5 class="card-title">GHẾ THƯ GIẢN ĐÔI</h5>
            <a [routerLink]="['/detail', 10]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>

      <div class="col col-sm-4">
        <div class="card">
          <img class="card-img-top" width="300" height="200" src="../../../assets/images/sofa-type/Three seater reliner.JPG">
          <div class="card-body">
            <h5 class="card-title">GHẾ THƯ GIẢN BA</h5>
            <a [routerLink]="['/detail', 7]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger">Lựa chọn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>