<div [@routerTransition]>
  <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
  <div>
    <div class="row">
      <div class="col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Airm chair.JPG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">SOFA ĐƠN</h5>
            <a [routerLink]="['/calculate/detail', 1]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Two seater sofa.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">SOFA BĂNG ĐÔI</h5>
            <a [routerLink]="['/calculate/detail', 9]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Three seater sofa.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">SOFA BĂNG BA</h5>
            <a [routerLink]="['/calculate/detail', 8]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Corner sofa.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">SOFA GÓC</h5>
            <a [routerLink]="['/calculate/detail', 3]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Footstool.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">GHẾ ĐÔN</h5>
            <a [routerLink]="['/calculate/detail', 4]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>

      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Sofa bed.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">SOFA BED</h5>
            <a [routerLink]="['/calculate/detail', 6]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Arc sofa.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">SOFA VÒNG CUNG</h5>
            <a [routerLink]="['/calculate/detail', 2]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Recliner.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">GHẾ THƯ GIẢN ĐƠN</h5>
            <a [routerLink]="['/calculate/detail', 5]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Two seater recliner.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">GHẾ THƯ GIẢN ĐÔI</h5>
            <a [routerLink]="['/calculate/detail', 10]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>

      <div class="col col-sm-4 mb-5">
        <div class="card">
          <img class="image-center" width="300" height="200" src="../../../assets/images/sofa-type/Three seater reliner.JPG">
          <div class="card-body">
            <h5 class="card-title text-center">GHẾ THƯ GIẢN BA</h5>
            <a [routerLink]="['/calculate/detail', 7]" [routerLinkActive]="['router-link-active']" class="btn btn-outline-danger col-sm-12">Lựa chọn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>